name: Deploy Laravel Sail (Local)
on:
  push:
    branches: [ "master" ]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy (Local) con Sail
        run: |
          set -e
          cd /Documentos/DAW/Practica
          git pull